---
import SiteHead from '../components/SiteHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
---
<html lang="en">
  <SiteHead title={title} description={description} />
  <body>
    <Header />
    <main class="container" style="padding: 26px 20px 0">
      <slot />
    </main>
    <Footer />
  </body>
</html>
